#intro {
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

#intro-image {
  width: 112px;
  height: 112px;
  margin-top: 120px;
}

#person-image {
  position: relative;
  left: 19px;
  width: 96px;
  height: 96px;
  gap: 8px;
}

#code {
  border-image: solid 4px var(--gray-300);
  position: relative;
  right: 11px;
}

.container {
  padding: 120px 183px 163px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  margin-top: 56px;
}

#subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

h1 {
  color: var(--gray-600);
  font: var(--title-lg);
  margin-bottom: 20px;
  margin-top: 8px;
}

#intro-text {
  color: var(--gray-400);
  font: var(--text-sm);
  margin-bottom: 80px;
}

#icons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 754px;
  height: 40px;
  margin-bottom: 94px;

  img {
    height: 24px;
    width: 24px;
  }
}


.icon-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 8px;
  font: var(--text-md);
  color: var(--gray-500);
  background-color: var(--gray-300);
  border-radius: 999px;
}
/* 
#arrow {
  max-width: 32px;
  max-height: 32px;
  gap: 5.5px 3.5px 4.5px;
  margin-bottom: 57px;
} */



